<div class="container-fluid" ng-controller="PostCtrl">

    <div class="row">
        <div class="col-md-12" >


            
               <div class="cover-container" style="background-image: url(http://www.portadastimeline.com/wp-content/uploads/2013/03/galaxias-lejanas-portada-para-facebook.jpg);">
                  <!-- <div class="social-cover">wqeqw</div> -->
                  <div class="social-desc  frase-portada">
                     <div class="">
                        <p contentEditable="true" ><h3 class="fg-white" contentEditable="true">{{frase}}</h3></p>
                        <h5 class="fg-white">- {{autor}}</h5>
                        <ul class="btn-portada">
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-pencil-square-o"></i></a></li>
                                </ul>
                        
                     </div>
                  </div>
                  <div class="social-avatar" >
                     <img class="img-avatar" ng-src="{{rutaAvatar}}" height="100" width="100">
                     <h4 class="fg-white text-center">{{fullname}}</h4>
                     <h5 class="fg-white text-center" style="opacity:0.8;">{{carrera}}</h5>
                     <h5 class="fg-white text-center" style="opacity:0.8;">{{semestre}} Semestre</h5>
                     <%if(fulluser.iddatospersonales!=undefined){%>
                     <h5 class="fg-white text-center" style="opacity:0.8;"><%=fulluser.iddatospersonales.lugar_residencia%></h5><%}%>
                     <hr class="border-black75" style="border-width:2px;" >
                     <div class="text-center">
                        <!-- <button role="button" class="btn btn-inverse btn-outlined btn-retainBg btn-brightblue" type="button">
                            <span>follow me</span>
                        </button> -->
                     </div>
                  </div>
               </div>
             
        </div> 
    </div>
	<div class="row">
    	<div class="col-md-3">
        <br>
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Información Personal</h3>
              </div>
              <div class="panel-body">
                Panel content
              </div>
            </div>
            
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Amigos</h3>
              </div>
              <div class="panel-body">
                <ul class="lista-panel-amigos">
                    <li ng-repeat="amigo in amigos |limitTo:10" >
                        <img src="/images/fot/{{amigo.username}}}.jpg" class="avatarnav img-circle"><a href="/post/{{amigo.username}}">{{amigo.name+" "+amigo.apellidoPaterno}}</a>
                    </li>
                    <li><a href="">Ver todas las amistades</a></li>
                </ul>
              </div>
            </div>

            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">Acerca de mi</h3>
              </div>
              <div class="panel-body">
                <p></p>
              </div>
            </div>

            

        </div>
        <div class="col-md-9">
        <%if(mio=="si"){%>
        <div class="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form>
                                <textarea placeholder="Iluminanos con tu conocimiento?" ng-model="datos.post" required></textarea>
                                <ul>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                </ul>
                                <button type="suubmit" class="btn btn-success green" ng-click="postear()"><i class="fa fa-share"></i> Publicar</button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>
        
            </div>
        </div>
        <%}else{%>
        <div class="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="widget-area no-padding blank">
                        <div class="status-upload">
                            <form>
                                <textarea placeholder="Iluminanos con tu conocimiento?" ng-model="datos2.post" required>{{nombre}}</textarea>
                                <ul>
                                    <li><a title="" data-toggle="tooltip" data-placement="bottom" data-original-title="Picture"><i class="fa fa-picture-o"></i></a></li>
                                </ul>
                                <button type="button" class="btn btn-success green" ng-click="postearamigo()"><i class="fa fa-share"></i> Publicar</button>
                            </form>
                        </div><!-- Status Upload  -->
                    </div><!-- Widget Area -->
                </div>
        
            </div>
        </div>

        <%}%>
        <div ng-repeat="post in postmio |orderBy:'-createdAt'"  >
        <input type="text" id="indexpost" value="{{postmio.indexOf(post)}}{{'-----'+$index}}" name="indexpost">
        <div ng-if="post.iduser2!=null">
            <div class="panel panel-white post panel-shadow" >
                <div class="post-heading">
                    <%if(mio=='si'){%>
                    <div class="dropdown pull-right">
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Editar</a></li>
                              <li><a ng-click="eliminarpost(post.id,post)">Eliminar</a></li>
                            </ul>
                        </div>
                     <%}%>   
                    <div class="pull-left image">
                        <img ng-src="images/fot/{{post.iduser2.ncontrol}}.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">

                        <div class="title h5">
                            <a href="/post/{{post.iduser2.username}}"><b>{{post.iduser2.nombre +" "+post.iduser2.apellido_p}} </b></a>
                            Posteo a <a href="/post/{{post.iduser.username}}"><b>{{post.iduser.nombre +" "+post.iduser.apellido_p}} </b></a>
                        </div>
                        <h6 class="<text-mu></text-mu>ted time"><span am-time-ago="post.createdAt"></span></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{post.post}}</p>
                    <div class="stats">
                        <a href="" class="stat-item" ng-click="megusta(post.id,post.megusta)">
                            <i class="fa fa-thumbs-up icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario!=''">  {{post.megusta}}</strong></sup></i>Me gusta
                        </a>
                        <a href="#" class="stat-item">
                            <i class="fa fa-thumbs-up icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>No me gusta</a>
                        
                        <a href="" class="stat-item" ng-click="vercomentarios(this)">
                            <i class="fa fa-comment icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>comentar
                        </a>
                        <!-- <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-share icon"></i>12
                        </a> -->
                    </div>
                </div>
                <div class="post-footer" id="verco" ng-show="ver">
                    
                    <ul class="comments-list" ng-repeat="comentario in post.idcomentario" >
                        <li class="comment">
                        <%if(mio=='si'){%>
                        <div class="dropdown pull-right">
                                <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                  <li><a href="#">Editar</a></li>
                                  <li><a ng-click="eliminarcoment(comentario.id,comentario,post)">Eliminar</a></li>
                                </ul>
                        </div>
                         <%}%>  
                                <a class="pull-left" href="#">
                                        <img class="avatar" ng-src="images/fot/{{comentario.iduser}}.jpg" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user"><a href="/post/{{comentario.username}}">{{comentario.nombre +" "+comentario.apellido}}</a></h4>
                                            <h5 class="time"><h6 class="time"><span am-time-ago="comentario.createdAt"></span></h6></h5>
                                        </div>
                                        <p>{{comentario.comentario}}</p>
                                    </div>
                                    <div class="stats">
                                        <a href="#" class="stat-item btncom">
                                            <i class="fa fa-thumbs-up icon  "><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>Me gusta
                                        </a>
                                        <a href="#" class="stat-item btncom">
                                            <i class="fa fa-thumbs-up icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>No me gusta</a>
                                        
                                    </div> 
                        </li>
                    </ul>
                    <div class="input-group"> 
                        <input class="form-control" placeholder="Agregar Comentario" type="text" ng-model="datoscoment.comentario">
                        <span class="input-group-addon">
                            <a ng-click="comentar(post.id,post)"><i class="fa fa-edit"></i></a>  
                        </span>
                    </div>
                </div>
            </div>
        </div> 

        <div ng-if="post.iduser2==null">
            <div class="panel panel-white post panel-shadow" >
                <div class="post-heading">
                <%if(mio=='si'){%>
                    <div class="dropdown pull-right">
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Editar</a></li>
                              <li><a ng-click="eliminarpost(post.id,post)">Eliminar</a></li>
                            </ul>
                        </div>
                     <%}%>  
                    <div class="pull-left image">
                        <img ng-src="images/fot/{{post.iduser.ncontrol}}.jpg" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="pull-left meta">
                        <div class="title h5">
                            <a href="/post/{{post.iduser.username}}"><b>{{post.iduser.nombre +" "+post.iduser.apellido_p}} </b></a>
                            Creo un post
                        </div>
                        <h6 class="<text-mu></text-mu>ted time"><span am-time-ago="post.createdAt"></span></h6>
                    </div>
                </div> 
                <div class="post-description"> 
                    <p>{{post.post}}</p>
                    <div class="stats">
                        <a href="#" class="stat-item">
                            <i class="fa fa-thumbs-up icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>Me gusta
                        </a>
                        <a href="#" class=" stat-item">
                            <i class="fa fa-thumbs-up icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>No me gusta</a>
                        <a href="" class="stat-item" ng-click="vercomentarios(this)">
                            <i class="fa fa-comment icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>comentar
                        </a>
                        <!-- <a href="#" class="btn btn-default stat-item">
                            <i class="fa fa-share icon"></i>12
                        </a> -->
                    </div>
                </div>
                <div class="post-footer" id="verco" ng-show="ver">
                    
                    <ul class="comments-list" >
                        <li class="comment" ng-repeat="comentario in post.idcomentario">
                            
                            <%if(mio=='si'){%>
                    <div class="dropdown pull-right">
                            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cog"></i><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                              <li><a href="#">Editar</a></li>
                              <li><a ng-click="eliminarcoment(comentario.id,comentario,post)">Eliminar</a></li>
                            </ul>
                        </div>
                     <%}%>  
                                    <a class="pull-left" href="#">
                                        <img class="avatar" ng-src="images/fot/{{comentario.iduser}}.jpg" alt="avatar">
                                    </a>
                                    <div class="comment-body">
                                        <div class="comment-heading">
                                            <h4 class="user"><a href="/post/{{comentario.username}}">{{comentario.nombre +" "+comentario.apellido}}</a></h4>
                                            <h5 class="time"><h6 class="time"><span am-time-ago="comentario.createdAt"></span></h6></h5>
                                        </div>
                                        <p>{{comentario.comentario}}</p>

                                    </div>
                                   <div class="stats">
                                        <a href="#" class="stat-item">
                                            <i class="fa fa-thumbs-up icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>Me gusta
                                        </a>
                                        <a href="#" class="stat-item">
                                            <i class="fa fa-thumbs-up icon"><sup style="font-size:13px;"><strong ng-if="post.idcomentario.length!=0">  {{post.idcomentario.length}}</strong></sup></i>No me gusta</a>
                                        
                                    </div> 
                             
                        </li>
                    </ul>
                    <div class="input-group"> 
                        <input class="form-control" placeholder="Agregar Comentario" type="text" ng-model="datoscoment.comentario">
                        <span class="input-group-addon">
                            <a ng-click="comentar(post.id,post)"><i class="fa fa-edit"></i></a>  
                        </span>
                    </div>
                </div>
            </div>
        </div>  
        </div>
        </div>
    </div>

</div>

<%if(mio=="si"){%>
		
<script type="text/javascript">
      window.room=<%-JSON.stringify(room || 'null')%>;
      window.fulluser=<%-JSON.stringify(fulluser || 'null')%>;
</script>

<%}else{%>
    <script type="text/javascript">
      window.room=<%-JSON.stringify(room || 'null')%>;
      window.fulluser=<%-JSON.stringify(fulluser || 'null')%>;
</script>
<%}%>